@charset "utf-8";
/* CSS Document */
// public sector;
body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,h1,h2,h3,h4,h5,h6,fieldset,input,textarea,figure{
	margin:0;
	padding:0;
};
a{
	text-decoration: none;
};
ul,ol li{
	list-style: none;
};
img{
	display: block;
};
body{
	font-family: "微软雅黑";
	overflow-x:hidden ;
	height:100%;
};
// header  portion;
.header{
	width:100%;
	background-color:#eeeeee; 
	height:30px;
	.headWhole{
		width:1264px;
		height:30px;
		margin:0 auto;
		background-color:#eeeeee;
		overflow: hidden; 
		.headerLeft{
			float: left;
			margin-left:30px;
			a{
				line-height: 30px;
				color:#051313;
				font-size: 12px;
			};
		};
		.headerRight{
			float:right;
			margin-right:30px;
			span{
				background: url(../../img/phone.jpg) no-repeat left center;
				text-indent: 22px;
			}
			a:hover{
				color:#BB1E7B;
			};
			span:hover{
				color:#BB1E7B;
				background: url(../../img/phone1.jpg) no-repeat left center;
			};
			a,span{
			line-height: 30px;
			color:#051313;
			font-size: 12px;
			display: inline-block;
			};
			a{
			width:82px;
			background: url(../../img/bg.jpg) no-repeat right center;
			text-align: center;
			};
			.action{
			width:50px;
			background-image: none;
			};
		};
	};
};
// headersec
.headSec{
	width:100%;
	height:100px;
	.headSecWhole{
		width:1264px;
		height:100px;
		margin:0 auto;
		overflow: hidden;
		.headerSecLeft{
			float:left;
		};
		.headerSecRight{
			float:right;
			margin-right: 70px;
			margin-top: 26px;
			input[type=text]{
				width:325px;
				height:28px;
				outline:none;
				border:1px solid #cccccc;
				border-right:none;
				padding-left:4px;
				border-top-left-radius:2px; 
				border-bottom-left-radius:2px; 
			};
			.goTo{
				width:25px;
				height:30px;
				outline:none;
				background: url(../../img/seach.jpg) no-repeat center;
				border:1px solid #cccccc;
				border-left:none;
				border-top-right-radius:2px; 
				border-bottom-right-radius:2px; 
				margin-right:40px;
				vertical-align:middle;
				cursor: pointer;
			}
			img{
				width:87px;
				height:32px;
				display: inline;
				vertical-align:middle;
			};
		};
	};
};
// nav
.nav{
	width:100%;
	height:45px;
	background: #222222;
	position: relative;
	.navCen{
		width:1264px;
		height:45px;
		margin:0 auto;
		line-height: 45px;
		text-align: center;
		background: #222222;
		position: relative;
		a{
			color:#ffffff;
			padding:0 27px;
			font-size: 14px;
			.trigon{
				position: absolute;
				top:26px;
				left:396px;
				width:0px;
				height:0px;
				border:12px solid transparent;
				border-bottom: 12px solid #ffffff;
				display: none;
			};
			.trigon1{
				left:572px;
				border-bottom: 12px solid transparent;
			};
			.trigon2{
				left:674px;
			};
			.trigon3{
				left:796px;
			};
			.trigon4{
				left:318px;
				border-bottom: 12px solid transparent;
			};
			.trigon5{
				left:486px;
			};
		};
	};
	
	.secondary{
		width:1136px;
		height:336px;
		background: #ffffff;
		z-index: 999;
		border-bottom: 5px solid #bb1e7b;
		position: absolute;
		padding-left: 34px;
		padding-top:19px;
		left:44px;
		margin:0 auto;
		display: none;
		overflow: hidden;
		a{
			color:#555555;
		};
		a:hover{
			color:#bb1e7b;
		};
		.secondaryLi{
			width:100px;
			float:left;
			padding-right: 40px;
			h3{
				width:98px;
				line-height: 54px;
				font-size: 16px;
				border-bottom: 1px solid #dddddd;
				a{
					color:#1c1c1c;
				};
				a:hover{
					color:#bb1e7b;
				};
			};
			li{
				margin-top: 18px;
				font-size: 14px;
				color:#555555;
			};
		};
		.secondaryLiSix{
			height:336px;
			border-right: 2px dashed #f2f2f2;
			margin-right: 40px;
		};
		.secondaryLiEnd{
			width:220px;
			padding-right: 0px;
			h3{
				width:222px;
				border-bottom: 1px solid #dddddd;
			};
			li:nth-child(3){
				width:218px;
				height:110px;
				border:1px solid #bb1e7b;
				text-align: center;
				padding-top: 16px;
				p{
					margin:0 auto;
					width:120px;
					font-size:22px;
					color:#bb1e7b;
					margin-bottom: 10px;
				};
				a{
					color:#bb1e7b;
				};
			};
		};
	};
	.secondary1{
		width:0;
		height:0;
		border:0;
		opacity: 0;
	};
	.secondaryTwo{
		@extend .secondary;
		width:1030px;
		left:116px;
		margin:0 auto;
		display: none;

	};
	.secondaryThree{
		@extend .secondary;
		width:750px;
		left:256px;
		margin:0 auto;
		display: none;
	};
	.secondaryFour{
		@extend .secondary;
		width:880px;
		left:188px;
		margin:0 auto;
		display: none;

	};
};
// PageFullCon
.PageFullCon{
	width:100%;
	.fullCon{
		width:1202px;
		height:12px;
		margin:25px auto 22px;
		// overflow: hidden;
		.fullConLeft{
			float:left;
			font-size: 12px;
			color:#777777;
			a{
				color:#777777;
			};
			a:hover{
				color:#bb1e7b;
			}
		};
		.fullConRight{
			float:right;
			span{
				font-size: 12px;
				color:#777777;
			}
		}
	}
}
// PageFiveCon
.PageFiveCon{
	width:100%;
	margin-bottom: 30px;
	.fiveContent{
		width:1202px;
		margin:0 auto;
		overflow: hidden;
		.fiveCon{
		width:545px;
		height:470px;
		float:left;
			.mirrorBox{
				float:left;
				width:450px;
				height:450px;
				background-image: url(../../img/subpageTimg1.jpg);
				background-size:450px 450px; 
				position: relative;
				margin-right: 30px;
				margin-bottom: 20px;
				.smallBox{
					position:absolute;
					left:0px;
					top:0px;
					width:220px;
					height:200px;
					opacity:0;
					background-color:blue;
					display:none;
				};
			};
			.bigBox{
				position:absolute;
				left:481px;
				top:249px;
				width:420px;
				height:420px;
				float:left;
				border:1px solid #cccccc;
				background-image: url(../../img/subpageTimg1.jpg);
				background-size:900px 900px; 
				display: none;
				overflow: hidden;
			};
			.fiveConLeft{
				height:450px;
				width:65px;
				float:left;
				p{
					width:63px;
					line-height:25px;
					text-align: center;
					img{
						display: inline-block;
					};
				}
				p:last-child{
					margin-top:24px;
				}
				.fiveConLeftcen{
					height:375px;
					overflow: hidden;
				}
				ul{
					li{
						width:63px;
						height:63px;
						margin-top: 13px;
						img{
							width:63px;
							height:63px;
						}
					};
					li:nth-child(1){
						border:1px solid #cccccc;
					};
				};
			};
		};
	};
	.fiveRightCon{
		width:585px;
		float:right;
		overflow: hidden;
		h3{
			font-size: 30px;
			color:#222;
			line-height: 33px;
			font-weight: 100;
		}
		.fiveRightConSec{
			margin-top:15px;
			font-size:16px;
			color:#222;
			margin-bottom: 25px;
		}
		ul{
			max-width: 585px;
			height:111px;
			background: #f7f4f6;
			padding:20px 0 15px 20px;
			margin-bottom: 20px;
			li{
				max-width: 585px;
				span{
					display:inline-block;
					font-size: 13px;
					line-height: 35px;
					color:#222222;
				}
			}
			li:nth-child(1) span:nth-child(2){
				font-size: 24px;
				margin-right:10px;
				color:#BB1E7B;
			};
			li:nth-child(1) span:nth-child(3){
				font-size: 16px;
				color:#AAA;
				text-decoration: line-through;
				line-height: 40px;
			}
			li span:nth-child(1){
				width:90px;
			};
			li:nth-child(2) span:nth-child(2){
				color:#bb1e7b;
			}
			b{
				font-size: 13px;
				margin-right: 20px;
				color:#000000;
				font-weight: 100;
				background: url(../../img/dian.png) no-repeat left center;
				padding-left: 7px;
			}
		}
		.rightP{
			padding-left: 20px;
			span{
				display: inline-block;
				font-size: 13px;
				width:80px;
				margin-right: 10px;
			};
			a{
			display: inline-block;
			width:32px;
			height:32px;
			background-color: #0a0a0a;
			vertical-align: middle;
			cursor: auto;
			};
		};
		.rightSecP{
			margin-bottom: 20px;
			margin-top: 23px;
			span{
				display: inline-block;
				width:80px;
				font-size: 13px;
				color:#AAAAAA;
			}
			span:nth-child(2){
				width:300px;
				margin-left: 5px;
			}
			span:last-child{
				width:390px;
				margin-left: 85px;
			}
			
		}
		.fiveRightBox{
			margin-top: 10px;
			overflow: hidden;
			a{
				text-align: center;
				line-height: 48px;
				color:#bb1e7b;
				display: block;
				float:left;
				width:168px;
				height:48px;
				border:1px solid #bb1e7b;
				img{
					display: inline;
					vertical-align: middle;
				}
			}
			a:last-child{
				background:#bb1e7b;
				color:#ffffff;
				margin-left: 20px;
			}
		}
		
	}
};
// PageSixCon
.PageSixCon{
	width:100%;
	overflow: hidden;
	.sixContent{
		width:1202px;
		margin:0 auto;
		.sixConLeft{
			width:910px;
			float:left;
			border:1px solid #dddddd;
			.sixConLeftTop{
				height:45px;
				background: #f4f4f4;
				overflow: hidden;
				border-bottom:1px solid #dddddd;
				li{
					float:left;
					height:45px;
					width:176px;
					line-height: 45px;
					border-right:1px solid #dddddd;
					text-align: center;
					cursor: pointer;
				}
				li:nth-child(1){
					background: #ffffff;
					border-bottom: none;
					border-top:1px solid #bb1e7b;
				};
			};
			.sixConWhole{
				width:908px;
			}
			.sixConLeftTopCen{
				text-align: center;
				overflow: hidden;
				// display: none;
				h3{
					margin-top:40px;
					margin-bottom: 8px;
					font-size: 24px;
					color:#222;
				};
				li{
					float:left;
					margin-top: 20px;
					text-align: left;
					font-size: 13px;
					width:240px;
					margin-left: 40px;
					p:nth-child(2){
						margin-top: 20px;
					}
				}
			}
			.spaceDiv{
				width:830px;
				height:30px;
				margin:0 auto;
				border-bottom:1px solid #dddddd;
				margin-bottom: 30px;
				// display: none;
			};
			.sixConLeftCenBot{
				width:100%;
				text-align: center;
				// display: none;
				h2{
					margin-top: 40px;
					margin-bottom: 8px;
					font-size: 24px;
				};
				p{
					width:790px;
					height:48px;
					padding:0 40px;
					margin-top: 30px;
				};
			};
			.sixConLeftbot{
				width:800px;
				height:800px;
				margin:0 auto;
				margin-top: 30px;
				// display: none;
			};
			.sizeBox{
				padding-bottom: 50px;
				display: none;
				.sizeBoxFiest{
					width:828px;
					height:94px;
					padding:0 40px 50px;
					h3{
					font-size: 24px;
					margin:40px 0 8px;
					text-align: center;
					}
					p{
						text-align: center;
						margin-bottom: 30px;
					}
				}
			};
			.brandBox{
				width:908px;
				display: none;
				.brandBoxFirst{
					width:828px;
					margin:0 auto;
					text-align: center;
					padding:0 40px 50px;
					margin-bottom: 50px;
					h3{
						font-size: 24px;
						margin-top: 40px;
						margin-bottom: 8px;
					}
					p{
						margin: 20px 0;
						text-align: left;
						line-height: 22px;
					};
				};
			};
		};
	};
	.sixConRight{
			width:258px;
			float:right;
			border:1px solid #dddddd;
			h2{
				width:258px;
				font-size: 18px;
				line-height: 45px;
				font-weight: 100;
				background: #F4F4F4;
				text-align: center;
				color:#2222;
			};
			.sixConRightCen{
				height:607px;
				padding:20px 20px 10px;
				li{
					width:218px;
					height:76px;
					margin:0 auto;
					overflow: hidden;
					margin-bottom: 30px;
					img{
						float:left;
						width:80px;
						height:80px;
						margin-right: 10px;
					};
					p{
						font-size: 13px;
						max-width:128px;
						height:40px;
						float:left;
						padding-top: 10px;
						overflow: hidden;
						// white-space: nowrap;
						line-height: 20px;
						text-overflow: ellipsis;
						margin-bottom: 7px;
					};
					span{
						font-size: 13px;
						color: #BB1E7B;
					};
				};
			};
	};
};
// // sevConent
.sevConent{
	width:100%;
	background: #f2f2f2;
	height:222px;
	margin-top: 40px;
	.sevCon{
		width:1264px;
		height:225px;
		background: #f2f2f2;
		p{
			font-size: 12px;
		};
		h3{
			margin-top: 40px;
			font-size: 18px;
			font-weight: 100;
		};
		
		ul{
			width:1264px;
			height:225px;
			overflow: hidden;
			li{
				float:left;
			};
			li:nth-child(1){
				width:400px;
				height:222px;
				text-align: center;
				float:left;
				margin-left: 32px;
				background:url(../../img/six_bg.jpg) no-repeat right center;
				h3{
					margin-bottom: 34px;
					
				};
				p{
					line-height: 26px;
				};
				span{
					display: block;
					font-size: 20px;
					margin-bottom: 10px;
				};
			};
			li:nth-child(2){
				width:400px;
				position: relative;
				background:url(../../img/six_bg.jpg) no-repeat right center;
				h3{
					margin-bottom: 6px;
					width:400px;
					text-align: center;
				};
				p{
					margin-left: 34px;
					margin-right: 40px;
					line-height: 20px;
					margin-bottom: 10px;
				};
				img{
					display: inline;
					vertical-align: middle;
				};
			};
			li:nth-child(3){
				text-align: center;
				width:399px;
				margin-right: 32px;
				a{
					margin-top: 24px;
					margin-bottom: 12px;
					display: block;
				};
				span{
					display: block;
				};
				img{
					display: inline;
				};
			};
		};
		
	};
};
// // footer
.footer{
	width:100%;
	background: #444444;
	position: relative;
	.footBox{
			position: absolute;
			height:102px;
			width:100px;
			z-index: 999;
			left:504px;
			top:0px;
			display: none;
			span{
				position: absolute;
				top:-23px;
				left:28px;
				width:0px;
				height:0px;
				border:12px solid transparent;
				border-bottom: 12px solid #ffffff;
			}
		};
	ul{
		width:1264px;
		height:110px;
		margin: 0 auto;
		padding-left: 30px;
		background: #444444;
		overflow: hidden;
		border-bottom: 1px solid #555555;
		li{
			float:left;
			line-height: 110px;
			span{
				font-size: 20px;
				font-weight: 900px;
				color:#ffffff;
			};
			img{
				display: inline;
				vertical-align: middle;
				margin-right: 20px;
			};
		};
		li:nth-child(2){
			margin-right: 258px;
		}
		li:nth-child(3){
			margin-right: 266px;
		}
		li:nth-child(4){
			margin-right: 0;
		}
	}
	.footBottom{
		width:1264px;
		margin: 0 auto;
		height:150px;
		background: #444444;
		padding-left: 30px;
		padding-right: 30px;
		overflow: hidden;
		img{
			display: inline;
			};
		.footBotLeft{
			float:left;
			height:150px;
			p{
				color:#bbbbbb;
				font-size:15px;
				a{
					color:#bbbbbb;
				};
			};
			p:nth-child(2){
				margin-top:12px;
				margin-bottom:12px;
			};
			span{
				margin-right: 10px;
			};
		};
		.footBotRight{
			float:left;
			width:350px;
			padding-top: 20px;
			margin-left: 260px;
			img{
				margin-bottom: 15px;
			};
			img:nth-child(2){
				margin-right: 20px;
				margin-left: 20px;
			}
			img:nth-child(5){
				margin-right: 20px;
				margin-left: 20px;
			}
		};
	};
};